<h2>Menu</h2>
<div class="menu-items">
 
    <div class="menu-item">
      <%= image_tag(@menu_items.image) %>
      <h3><%= @menu_items.name %></h3>
      <p><%= @menu_items.description %></p>
      <p>$<%= @menu_items.price %></p> 
    </div>
 
</div>